#geometry-widget-id_geom .btn {
    width: 300px;
    margin: 10px;
}

#id_tags {
    width: 758px;
}

.selector select {
    overflow-x: auto;
}

/*Reduce select2 field width so that CRUD button remain visible*/
tr .select2 {
    width: 70% !important;
}

/* tweak admin-sortable2 for jazzmin compatibility with tabular inlines */

tbody .original {
    width: 100px;;
}

tbody .field-field {
    width: 500px;
}

tbody .delete {
    width: 50px;
    text-align: right;
}

thead .original {
    width: 80%;
}

thead .column-field {
    display: none;
}
